n8n-workflows/newsletter-sub-live.json
{
  "name": "newsletter-sub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter-sub",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "newsletter-sub"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Webhook').first().json;\nconst body = data.body || data;\nconst email = (body.email || '').trim().toLowerCase();\n\nif (!email || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) {\n  return [{ json: { valid: false, error: 'Bitte geben Sie eine gültige E-Mail-Adresse ein.' } }];\n}\n\n// Pass along request metadata for GDPR audit trail\nconst headers = data.headers || {};\nreturn [{ json: {\n  valid: true,\n  email: email,\n  user_ip: headers['x-forwarded-for'] || headers['x-real-ip'] || 'unknown',\n  user_agent: headers['user-agent'] || 'unknown',\n  referer: headers.referer || 'cleanfix.thetrolli.com'\n} }];"
      },
      "id": "validate-email",
      "name": "Validate Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "email-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-valid",
      "name": "Email Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": { "responseCode": 400 }
      },
      "id": "respond-invalid",
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [700, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.cleverreach.com/oauth/token.php",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type",    "value": "client_credentials" },
            { "name": "client_id",     "value": "SahmtXchMW" },
            { "name": "client_secret", "value": "K17ndz7L7KAkEC81iSTgJTRsfy2UbBkS" }
          ]
        },
        "options": {}
      },
      "id": "cr-token",
      "name": "CleverReach: Get Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.cleverreach.com/v3/groups/512059/receivers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('CleverReach: Get Token').first().json.access_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": {{ JSON.stringify($('Validate Email').first().json.email) }},\n  \"registered\": {{ Math.floor(Date.now() / 1000) }},\n  \"activated\": 0,\n  \"source\": \"cleanfix-mg.de Website\"\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "cr-add-subscriber",
      "name": "CleverReach: Add Subscriber",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.cleverreach.com/v3/forms/426164/send/activate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('CleverReach: Get Token').first().json.access_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": {{ JSON.stringify($('Validate Email').first().json.email) }},\n  \"doidata\": {\n    \"user_ip\": {{ JSON.stringify($('Validate Email').first().json.user_ip) }},\n    \"referer\": {{ JSON.stringify($('Validate Email').first().json.referer) }},\n    \"user_agent\": {{ JSON.stringify($('Validate Email').first().json.user_agent) }}\n  }\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "cr-send-doi",
      "name": "CleverReach: Send DOI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Bestätigungsmail gesendet\" }",
        "options": { "responseCode": 200 }
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1580, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Email", "type": "main", "index": 0 }]]
    },
    "Validate Email": {
      "main": [[{ "node": "Email Valid?", "type": "main", "index": 0 }]]
    },
    "Email Valid?": {
      "main": [
        [{ "node": "CleverReach: Get Token", "type": "main", "index": 0 }],
        [{ "node": "Respond Invalid", "type": "main", "index": 0 }]
      ]
    },
    "CleverReach: Get Token": {
      "main": [[{ "node": "CleverReach: Add Subscriber", "type": "main", "index": 0 }]]
    },
    "CleverReach: Add Subscriber": {
      "main": [[{ "node": "CleverReach: Send DOI", "type": "main", "index": 0 }]]
    },
    "CleverReach: Send DOI": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
