n8n-workflows/save-schedule.json
{
  "name": "save-schedule",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-schedule",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "save-schedule"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/DerTrolli/cleanfix-website/contents/Cleanfix/public-site/data/schedule.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-sha",
      "name": "Get File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_CRED_ID",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the schedule data from webhook body\nconst webhookData = $('Webhook').first().json;\nconst schedule = webhookData.body ? webhookData.body.schedule : webhookData.schedule;\n\n// Get current file SHA from GitHub response\nconst gitResponse = $('Get File SHA').first().json;\nconst sha = gitResponse.sha;\n\n// Pretty-print the JSON content\nconst content = JSON.stringify(schedule, null, 2);\n\n// Base64 encode\nconst base64Content = Buffer.from(content, 'utf8').toString('base64');\n\nreturn [{\n  json: {\n    message: 'update schedule.json via admin panel',\n    content: base64Content,\n    sha: sha\n  }\n}];"
      },
      "id": "prepare-commit",
      "name": "Prepare Commit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/DerTrolli/cleanfix-website/contents/Cleanfix/public-site/data/schedule.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.message, content: $json.content, sha: $json.sha }) }}",
        "options": {}
      },
      "id": "commit-file",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_CRED_ID",
          "name": "GitHub PAT"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File SHA": {
      "main": [
        [
          {
            "node": "Prepare Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Commit": {
      "main": [
        [
          {
            "node": "Commit to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
