n8n-workflows/send-newsletter.json
{
  "name": "send-newsletter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-newsletter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cleanfix-auth.trollojunior.workers.dev/verify",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ ($input.first().json.headers.authorization || '').replace(/^Bearer /i, '') }}"
            }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "verify-jwt",
      "name": "Verify JWT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-auth",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "respond-401",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [680, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.cleverreach.com/oauth/token.php",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type",    "value": "client_credentials" },
            { "name": "client_id",     "value": "={{ $env.CLEVERREACH_CLIENT_ID }}" },
            { "name": "client_secret", "value": "={{ $env.CLEVERREACH_CLIENT_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "cr-token",
      "name": "CleverReach: Get Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "jsCode": "// Store token and pull the incoming newsletter payload\nconst token = $('CleverReach: Get Token').first().json.access_token;\nconst payload = $('Webhook').first().json.body;\n\nreturn [{\n  json: {\n    access_token: token,\n    subject:    payload.subject    || '(kein Betreff)',\n    month:      payload.month      || '',\n    offerTitle: payload.offerTitle || '',\n    offerText:  payload.offerText  || '',\n    intro:      payload.intro      || '',\n    body:       payload.body       || '',\n    html:       payload.html       || '',\n    scheduled:  payload.scheduled  || false,\n    sendAt:     payload.sendAt     || null\n  }\n}];"
      },
      "id": "prepare",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.cleverreach.com/v3/mailings/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": {{ JSON.stringify($json.subject + ' (' + new Date().toISOString().slice(0,10) + ')') }},\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"sender_name\": \"Cleanfix Reinigen und Waschen\",\n  \"sender_email\": \"newsletter@cleanfix-mg.de\",\n  \"reply_to\": \"info@cleanfix-mg.de\",\n  \"setup_v2\": true\n}",
        "options": {}
      },
      "id": "cr-create-mailing",
      "name": "CleverReach: Create Mailing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "jsCode": "// Merge mailing ID with data from previous steps\nconst mailingId = $('CleverReach: Create Mailing').first().json.id;\nconst prep = $('Prepare Data').first().json;\n\nreturn [{ json: { ...prep, mailing_id: mailingId } }];"
      },
      "id": "merge-id",
      "name": "Merge Mailing ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 220]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://rest.cleverreach.com/v3/mailings/{{ $json.mailing_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"html\": {{ JSON.stringify($json.html) }},\n  \"text\": {{ JSON.stringify('Bitte aktivieren Sie die HTML-Anzeige in Ihrem E-Mail-Client, um diesen Newsletter zu lesen.\\n\\nCleanfix Reinigen und Waschen\\nhttps://cleanfix.thetrolli.com') }}\n}",
        "options": {}
      },
      "id": "cr-set-content",
      "name": "CleverReach: Set Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "schedule-check",
              "leftValue": "={{ $('Merge Mailing ID').first().json.scheduled }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-scheduled",
      "name": "Scheduled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2000, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rest.cleverreach.com/v3/mailings/{{ $('Merge Mailing ID').first().json.mailing_id }}/release",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Merge Mailing ID').first().json.access_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"scheduled\": {{ JSON.stringify($('Merge Mailing ID').first().json.sendAt) }}\n}",
        "options": {}
      },
      "id": "cr-schedule",
      "name": "CleverReach: Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rest.cleverreach.com/v3/mailings/{{ $('Merge Mailing ID').first().json.mailing_id }}/release",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Merge Mailing ID').first().json.access_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "id": "cr-send-now",
      "name": "CleverReach: Send Now",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"mailing_id\": \"{{ $('Merge Mailing ID').first().json.mailing_id }}\",\n  \"scheduled\": {{ $('Merge Mailing ID').first().json.scheduled }},\n  \"sendAt\": {{ JSON.stringify($('Merge Mailing ID').first().json.sendAt) }}\n}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2440, 220]
    }
  ],
  "connections": {
    "Webhook":                      { "main": [[{ "node": "Verify JWT",                "type": "main", "index": 0 }]] },
    "Verify JWT":                   { "main": [[{ "node": "Auth OK?",                  "type": "main", "index": 0 }]] },
    "Auth OK?":                     { "main": [
      [{ "node": "CleverReach: Get Token",    "type": "main", "index": 0 }],
      [{ "node": "Respond 401",               "type": "main", "index": 0 }]
    ]},
    "CleverReach: Get Token":       { "main": [[{ "node": "Prepare Data",              "type": "main", "index": 0 }]] },
    "Prepare Data":                 { "main": [[{ "node": "CleverReach: Create Mailing","type": "main", "index": 0 }]] },
    "CleverReach: Create Mailing":  { "main": [[{ "node": "Merge Mailing ID",          "type": "main", "index": 0 }]] },
    "Merge Mailing ID":             { "main": [[{ "node": "CleverReach: Set Content",  "type": "main", "index": 0 }]] },
    "CleverReach: Set Content":     { "main": [[{ "node": "Scheduled?",               "type": "main", "index": 0 }]] },
    "Scheduled?":                   { "main": [
      [{ "node": "CleverReach: Schedule",     "type": "main", "index": 0 }],
      [{ "node": "CleverReach: Send Now",     "type": "main", "index": 0 }]
    ]},
    "CleverReach: Schedule":        { "main": [[{ "node": "Respond OK",               "type": "main", "index": 0 }]] },
    "CleverReach: Send Now":        { "main": [[{ "node": "Respond OK",               "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
